@require '../../layout/mixins/palette';

.wrapper {
  width: 100%;
  height: auto;
  position: relative;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  background-color: #fff;
  margin-bottom: 12px;
}

.media {
  height: 120px;
  width: 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.img {
  height: 80%;
  width: auto;
  object-fit: contain;
}

.content {
  padding: 16px;

  .spacer {
    margin-top: 10px;
    width: 100%;
  }

  .label {
  }

  .value {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
