@require '../../layout/mixins/palette';

.wrapper {
}

.media {
  padding-top: 62%;
  width: 100%;
}

.img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 16px;
  padding-bottom: 24px;

  .spacer {
    margin-top: 10px;
    width: 100%;
  }

  .price {
    color: $secondary;
    font-size: 24px;
    font-weight: 500;
  }
}

.actions {
  padding: 16px;
}